<!DOCTYPE html>
<html>

  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <% include ../static/partials/navbar.ejs %>

  <body>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

        <h1> <%= wiki.title %> </h1>

        <% if(wiki.private === true && currentUser && ((wiki.ownerId === currentUser.id) || (currentUser.role === 1 || currentUser.role === 2))) { %>
          <a href="/wikis/<%= wiki.id %>/collaborators" class="btn btn-info">Collaborators</a>
        <% } %>

        <% if(currentUser) { %>
          <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
          <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        <% } %>
        
        <section>
          <%- wiki.body %>
        </section>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>